* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{
  background-color: #EAEDF2;
  color:#36475B;
}
h2
{
  font-family: "Signika-Regular",  sans-serif;
  /* font-weight: normal; */
}
.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:
    295px
    1260px
    38px; 
  grid-template-areas:
    "locheader locheader"
    "_content _content"
     "footer footer"; 
    margin-left:80px;
    margin-top:82px;
    width:1348px;
}

.location-header {
  display: grid;
  grid-area: locheader;

  grid-template-columns: 435px 825px;
  grid-column-gap: 88px;
  grid-template-rows: 295px;
  grid-template-areas: "block-person block-contacts";
}

.block-person {
  display: grid;
  grid-area: block-person;
  /* width: 470px; */
  background: white;
  grid-template-columns: repeat(autofit, 44px);
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "photo . . marie"
    "info info info info";
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profile-photo {
  grid-area: photo;
  width: 147px;
  height: 147px;
  margin-left:27px;
}

.marie {
  grid-area: marie;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 41px;
    /* padding-bottom: 5px; */
}
.marie h1 {
  font-family: "Signika-Regular",  sans-serif;
    font-size: 27px;
    width: 220px;
}

.marie p
{
  font-family: "Lato",  sans-serif;
  font-size:17px;
  margin-top: 7px;
}
.info {
  grid-area: info;
  width: 440px;
  height: 79px;
}
.info img {
  width: 109px;
}
.info img:nth-child(2)
{
    margin-left:-4px;
}
.info img:nth-child(3)
{
    margin-left:-4px;
}
.info img:nth-child(4)
{
    margin-left:-5px;
}


.block-contacts {
  display: grid;
  /* margin-left: 10%; */
  grid-area: block-contacts;
  grid-template-columns: 438px 388px;
  grid-template-rows:
    88px
    147px
    60px;
  grid-template-areas:
    "head head"
    "test mail"
    "social .";
  width: 825px;
  background: white;
}

.text-head {
  grid-area: head;
  display: inline-block;
  padding: 47px 0 0 31px;
  font-family: "Signika-Regular", sans-serif;
  font-size: 35px;
}
.text-test {
  font-family: "Lato", sans-serif;
  grid-area: test;
  display: flex;
  align-items: center;
  font-size: 17px;
  padding: 0 0 2px 33px;
  line-height: 1.8em;
  text-align: justify;
}

.blue
{
  color: #17C4EE;
}
.mail {
  grid-area: mail;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid gray; */
  width: 279px;
  height: 94px;
  /* margin-left: 75px; */
  margin-top: 6px;
  font-family: "Lato", sans-serif;
  font-size: 21px;
  justify-content: space-around;
}
.mail span:first-child
{
  letter-spacing: 0.8px;
  color:#36475B;
}

.mail span
{
  letter-spacing: 2.8px;
  color:#CC5F62;
}

.bottom-line
{
  width: 274px;
    border-bottom: 1px solid black;
    margin-left: 75px;
    height: 124px;
}
.links {
  grid-area: social;
}
.social
{    display: inline-block;
  height: 20px;
  width: 29px;
  margin-top: 5px;
  margin-left: 24px;
}
.twitter
{
  background-image: url("/img/twitter.png")
}
.ball
{
  margin-left: 39px;
}
.behance
{
  margin-left: 43px;
  margin-top: 5px;
}
.instagram
{
  margin-left: 40px;
}


.fa-twitter {
  color: brown;
  font-size: 30px;
}

.content {
  grid-area:_content;
  display: grid;
  grid-template-columns: 635px 89px 626px;
  grid-template-rows: 1fr;

  margin-top:38px;
}

.content-card {
  display: grid;
  background: white;
  grid-template-columns: 635px;
  grid-template-rows:
    86px
    193px
    59px;
  grid-template-areas:
    "contentCardHead"
    "contentCardText"
    "contentCardFooter";
}

.content-card-head {
  grid-area: contentCardHead;
  /* font-weight: normal; */
}
.content-card-name
{
  margin-left:25px;
  margin-top:29px;
  display:flex;
  flex-direction: column;
}

/* попробовать вынести в отдельный класс */
.content-card-name h2{
  width:600px;
  font-weight: normal;
}
.description{
  /* width:390px; */
  /* margin-top:8px; */
  font-size: 17px;
  color:#BDC1C2;
  padding-left:8px;
}
.content-card-name h3{
  width:390px;
  /* display: flex; */
  font-weight: normal;
  color:#0FCDC1;
  font-size: 20px;
  font-family: "Signika-Regular",  sans-serif;
  margin-top:5px;
  margin-left:-1px;
}
ul{
  margin-top:2px;
  font-size:16px;
}
li img
{
  padding-right:10px;
}
li
{
  list-style-type: none;
  padding-bottom: 15px;


  padding-left:3px;
}
li:nth-child(3)
{
  margin-top:-4px;
}
li:nth-child(4)
{
  margin-top:-2px;
}
.content-card-text {
  grid-area: contentCardText;
  margin-left:25px;
  margin-top:29px;
  font-size: 15px;
  font-family: "Lato",  sans-serif;

}
.content-card-footer {
  grid-area: contentCardFooter;
  display:flex;
  font-family: "Lato",  sans-serif;
  color:#BDC1C2;
  justify-content: space-around;
  margin-left: 8px;
  margin-top:9px;
}
/* .geo
{
  display: inline;
  padding-left:100px;
} */
.content-card-footer div img
{
  /* margin-left:5px; */
  margin-top:2px;
  padding-right:10px;
}
button
{
  height: 39px;
  width: 218px;
  background: #17C4EC;
  color:white;
  border-radius: 3px;
  border:none;
  margin-top: -10px;
  margin-left: 30px;
  text-align: center;
  font-size:16px;
}

.btn-cortix
{
  margin-right: -5px;
}

.second
{
  margin-top:33px;
  grid-template-rows:
  100px
  164px
  57px;
}

.second-text
{
margin-top:0px;
}

.third
{
  margin-top:33px;
  grid-template-rows:
  113px
  58px;
  grid-template-areas:
  "contentCardHead"
  "contentCardFooter";
}
.fourth
{
  margin-top:33px;
  grid-template-rows:
  108px
  60px;
  grid-template-areas:
  "contentCardHead"
  "contentCardFooter";
}
.deactive
{
  background-color: #AFBBC9;
  height:38px;
}

.right
{
  /* margin-top:33px; */
  grid-template-rows:
  127px   
  42px;
  grid-template-areas:
  "contentCardHead"
  "contentCardFooter";
  background-color: #DCE2EB;
}
.right-description
{
  color:#9199A4;
  font-size:15px;
}

.btn-right
{
  background-color: #0FCDC1;
  font-size:14px;
  margin-right: 10px;
}

h3.right-profession
{
  color:#17C4EC;
  font-size:16px;
  font-weight: bold;
}

.right-footer
{
  color:#3E4854 !important;
  font-size: 14px;
  /* padding-bottom:15px !important; */
  margin-right: -5px;
  margin-top: -8px;
}

.right-footer-grid
{
  grid-template-columns: 140px 170px 190px 123px;
  grid-template-rows: 1fr;
  grid-template-areas:
  "geo date . stars";
}

.right-second
{
  margin-top:33px;
}
.dot-line
{
  width:625px;
  height: 36px;
  border-bottom: 2px dotted #C2C5CA ;
}
.right-star
{
  /* margin-top:33px; */
  grid-template-rows:
  104px
  24px;
  grid-template-areas:
  "contentCardHead"
  "contentCardFooter";
  background-color: #DCE2EB;
}
.right-star h2
{
  font-size:20px;
}
.right-education
{
  color:#0FCDC1;
  font-size:17px !important;
}
.educationName
{
 font-size:20px;
}

.geo
{
  margin-left: -3px;
}
.geo-fix
{
  position: absolute;
    left: 828px;
    margin-top: -4px;
}
.date-fix
{
  position: absolute;
  left: 969px;
  margin-top: -2px;
}

.progress
{
  margin-top:38px;
  grid-template-columns: 626px;
  grid-template-rows:
  117px
  285px;
  grid-template-areas:
  "progressHead"
  "progressContent";
  background: white;
}
.progress-head
{
  grid-area:progressHead;
  margin-top:-3px;
}

.webaddict
{
  padding-left:5px;
}
/* circle
{
  display: flex;
  justify-content: space-around;

} */
.serivore
{
  margin-left: -4px;
}
.melomane
{
  margin-left: -6px;
}
.fashionista
{
  margin-left: -3px;
}
.epicurienne
{
  margin-left: -3px;
}
.voyageuse
{
  margin-left: -5px;
}
.progress-content
{
  display:grid;
  grid-area:progressContent;
  grid-template-columns:313px 313px;
  grid-template-rows:1fr;
  grid-template-areas:
  "columnLeft columnRight";
  margin-top:3px;
}
.progress-left
{
  grid-area:columnLeft;
  /* display:flex;
  justify-content: space-between;
  flex-direction: column; */
  height:277px;

  
}

.progress-right
{
  grid-area:columnRight;
  margin-left:7px;

}
.stars 
{
  width:150px;
  grid-area:stars;  
  position: absolute;
  left: 1302px;
  margin-top: -3px;
}
.footer-geo
{
  grid-area: geo;
}

.footer-date
{
  grid-area: date;
}

.stars img{
  display: inline-block;
padding-right: 0px !important;
}

.head-fix
{
  margin-top:4px;
}

.progress
{
  font: 12px Arial, Tahoma, sans-serif;
  position: relative;
  /* overflow: hidden; */
}

.progress progress
{
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  left: -777px;
}

.progress-bar
{
  overflow: hidden;
  background: #0ECEC1;
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-value
{
  color: #333;
  display: block;
  line-height: 21px;
  text-align: left;
  /* display: inline-block; */
  margin-top: 10px;
  margin-left: 22px;
  font-size:16px;
  font-family: "Lato",  sans-serif;
  /* font-size:16px; */
}

.photoshop-skill::after{
  content: ''; 
  position: absolute; 
  top: 18px; right: 15px; 
  width: 0;
height: 0;
border-style: solid;
border-width: 3px 3px 0 3px;
border-color: #033585 transparent transparent transparent;
}

.illustrator
{
  width: 53% ;
}

.wordpress
{
  width: 93% ;
}
.prestashop
{
  width: 84% ;
}
.progress-bg
{
  display:block;
  background: #D9E0EA;
  position: relative;
  height: 14px;
  width:270px;
  border-radius: 5px;
  overflow: hidden;
   margin-left: 21px;
   margin-top: 3px;
}

.progress-fix-illustrator
{
/* top:160px;
position: absolute; */
margin-top:16px;
}
.progress-fix-WordPress
{
  margin-top:18px;
}

.progress-fix-prestashop
{
  margin-top:16px;
}

.photoshop-skill
{
  display:inline-block;
  position: absolute;
  width:38px;
  height:18px;
  background-color: #32475C;
  color:white;
  border-radius: 3px;
  text-align: center;
  margin-left:119px;
  font-size:11px;
}

.illustrator-skill
{
  display:inline-block;
  position: absolute;
  width:38px;
  height:18px;
  background-color: #32475C;
  color:white;
  border-radius: 3px;
  text-align: center;
  margin-left:52px;
  font-size:11px;
}
.illustrator-skill::after{
  content: ''; 
  position: absolute;
  top: 18px; right: 15px; 
  width: 0;
height: 0;
border-style: solid;
border-width: 3px 3px 0 3px;
border-color: #033585 transparent transparent transparent;
}


.wordpress-skill
{
  display:inline-block;
  position: absolute;
  width:38px;
  height:18px;
  background-color: #32475C;
  color:white;
  border-radius: 3px;
  text-align: center;
  margin-left:150px;
  font-size:11px;
}

.wordpress-skill::after{
  content: '';
  position: absolute; 
  top: 18px; right: 15px; 
  width: 0;
height: 0;
border-style: solid;
border-width: 3px 3px 0 3px;
border-color: #033585 transparent transparent transparent;
}

.prestashop-skill
{
  display:inline-block;
  position: absolute;
  width:38px;
  height:18px;
  background-color: #32475C;
  color:white;
  border-radius: 3px;
  text-align: center;
  margin-left:126px;
  font-size:11px;
}

.prestashop-skill::after{
  content: ''; 
  position: absolute; 
  top: 18px; right: 15px;
  width: 0;
height: 0;
border-style: solid;
border-width: 3px 3px 0 3px;
border-color: #033585 transparent transparent transparent;
}

.ref_naturel
{
  width:70%;
  background: #17C4EC;
}
.res_soc
{
  width:77%;
  background: #17C4EC;
}
.ui
{
  width:58%;
  background: #17C4EC;
}
.ux
{
  width:71%;
  background: #17C4EC;
}
.ref_naturel-skill
{
  display:inline-block;
  position: absolute;
  width:38px;
  height:18px;
  background-color: #32475C;
  color:white;
  border-radius: 5px;
  text-align: center;
  margin-left:8px;
  font-size:11px;
}

.ref_naturel-skill::after{
  content: ''; 
  position: absolute; 
  top: 18px; right: 15px;
  width: 0;
height: 0;
border-style: solid;
border-width: 3px 3px 0 3px;
border-color: #033585 transparent transparent transparent;
}

.res_soc-skill
{
  display:inline-block;
  position: absolute;
  width:38px;
  height:18px;
  background-color: #32475C;
  color:white;
  border-radius: 5px;
  text-align: center;
  margin-left:71px;
  font-size:11px;
}

.res_soc-skill::after{
  content: ''; 
  position: absolute; 
  top: 18px; right: 15px;
  width: 0;
height: 0;
border-style: solid;
border-width: 3px 3px 0 3px;
border-color: #033585 transparent transparent transparent;
}

.ui-skill
{
  display:inline-block;
  position: absolute;
  width:38px;
  height:18px;
  background-color: #32475C;
  color:white;
  border-radius: 5px;
  text-align: center;
  margin-left:69px;
  font-size:11px;
}

.ui-skill::after{
  content: ''; 
  position: absolute; 
  top: 18px; right: 15px;
  width: 0;
height: 0;
border-style: solid;
border-width: 3px 3px 0 3px;
border-color: #033585 transparent transparent transparent;
}

.ux-skill
{
  display:inline-block;
  position: absolute;
  width:38px;
  height:18px;
  background-color: #32475C;
  color:white;
  border-radius: 5px;
  text-align: center;
  margin-left:55px;
  font-size:11px;
}

.ux-skill::after{
  content: ''; 
  position: absolute; 
  top: 18px; right: 15px;
  width: 0;
height: 0;
border-style: solid;
border-width: 3px 3px 0 3px;
border-color: #033585 transparent transparent transparent;
}
/* 
.timeline
{
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.timeline-marker {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 15px;
}
.timeline-marker::before {
  background: primary-color;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px; left: 0;
  width: 15px;
  /* transition: background 0.3s ease-in-out,
          border 0.3s ease-in-out; */
/* } */
/* .timeline-marker::after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px; bottom: 0; left: 6px;
}
.timeline-item:last-child::after {
  content: none;
} */ 

#timeline *, 
#timeline *:before, 
#timeline *:after {
    box-sizing: border-box;
}    
#timeline .timeline-item:after, 
#timeline .timeline-item:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

#timeline{
  max-width: 1100px;
  width: 100%;
  /* margin: 30px auto; */
  right:6px;
  position: relative;
  padding: 0 10px;
  height:1145px;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 6px;
  height: 100%;
  background: #D9E0E8;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

.circle-center
{
  width: 20px;
  height: 20px;
  border-radius: 15px;
  position: absolute;
  left: 38px;
}
.time-circle
{
    background-color: white;
    top: 159px;
}
.time-circle-2
{
  background-color: #D9E0E8;
  top: 260px;;

}

.time-circle-3
{
  background-color: #D9E0E8;
  top: 465px;
}


.time-circle-4
{
  background-color: white;
  top: 522px;
}


.time-circle-5
{
    background-color: white;
    top: 801px;
}


.time-circle-6
{
    background-color: #D9E0E8;
    top: 662px;
}


.time-circle-7
{
    background-color: rgb(255, 255, 255);
    top: 999px;
}
.time-circle-8
{
    background-color: #D9E0E8;
    top: 882px;
}
.time-circle-9
{
    background-color: #D9E0E8;
    top: 1042px;
}

.time-year
{
  font-family: "Lato",  sans-serif;
  font-size:21px;
  width:72px;
  height:35px;
  background-color:#D9E0E8;
  color:white;
  border-radius: 3px;
  position:absolute;
  top:1138px;
  left:11px;
  padding-top: 3px;
  text-align: center;
}

.footer{
  grid-area: footer;
  text-align: center;
  font-family: "Lato",  sans-serif;
  font-size:21px;
  font-style:italic;
  color:#444B53;
}
.footer-fix
{
  position: absolute;
  left: 520px;
  font-size: 19px;
  margin-top: 3px;
}
.quotes-1{
  font-family: "Times New Roman", sans-serif;
  font-size: 130px;
  color: #CDD4DE;
  position: absolute;
  left: 431px;
  top: 1605px;

}

.quotes-2{
  font-family: "Times New Roman", sans-serif;
  font-size: 130px;
  color: #CDD4DE;
  position: absolute;
  left: 986px;
  top: 1605px;

}